# Global
.DS_Store
*.log

# Node
frontend/node_modules/
frontend/.env

# Java/Maven
backend/target/
backend/.idea/
backend/.settings/

# Docker
mysql_data/

#node_modules
node_modules/

package-lock.json
package.json
docker-compose.yml
