spring:
  security:
    user:
      name: performer
      password: performer123
  datasource:
    url: jdbc:mysql://localhost:3307/performer_logistics?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: performer
    password: performer123
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate.format_sql: true
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

server:
  port: 8080

